.canvas
{
	position: absolute;
	width: 400px;
	height: 400px;
	left: auto;
	margin: 15% auto auto 15%;
	background-color: $light_grey; 
	border-radius: 50%;

	// Both bells
	&::before, &::after
	{
		content: "";
		display: block;
		width: 150px;
		height: 50px;
		border-radius: 50% 50% 0 0;
		position: absolute; 
		top: -20px;
		background-color: $light_grey;
		border-bottom: 5px solid rgba(0, 0, 0, 0.15) 
	}

	&::before
	{
		transform: rotateZ(-30deg);
		left: -8px;
	}

	&::after
	{
		transform: rotateZ(30deg);
		right: -8px;

	}
}