

[class^= clock__needle--]
{
	position: absolute;
	background-color: #000;
	border-radius: 30px;
	transform: rotate(180deg);

}




.clock__needle--
{
	
	&second
	{
		width: 2px;
		height: 150px;
		margin: 120px 151px 0 151px;
		@include timeTrigger($time_for_second_get_one_turn, 1px 35px)
	}

	&minute
	{
		width: 8px;
		height: 120px;
		margin: 154px 147px 0 147px;
		z-index: 2;
		@include timeTrigger($time_for_minute_get_one_turn, center top);
		@include fluo();
	}

	&hour
	{
		width: 8px;
		height: 70px;
		margin: 154px 147px 0 147px;
		z-index: 1;
		@include timeTrigger($time_for_hour_get_one_turn, center top);
		@include fluo();

	}
}