@mixin fluo()
{
	&::after{
		content: "";
		display: block;
		position: relative;
		background-color: #cacaca;
		width: 40%;
		height: 30%;
		top: 65%;
		margin-left: 30%;
		border-radius: 30px;
	}
}