@keyframes timeAnimation {
  100% {
    transform: rotate(540deg);
  }
}
@keyframes setAwake {
  100% {
    transform: rotateZ(360deg);
  }
}
* {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
}

.canvas {
  position: absolute;
  width: 400px;
  height: 400px;
  left: auto;
  margin: 15% auto auto 15%;
  background-color: #e0e0e0;
  border-radius: 50%;
}
.canvas::before, .canvas::after {
  content: "";
  display: block;
  width: 150px;
  height: 50px;
  border-radius: 50% 50% 0 0;
  position: absolute;
  top: -20px;
  background-color: #e0e0e0;
  border-bottom: 5px solid rgba(0, 0, 0, 0.15);
}
.canvas::before {
  transform: rotateZ(-30deg);
  left: -8px;
}
.canvas::after {
  transform: rotateZ(30deg);
  right: -8px;
}

.clock {
  position: absolute;
  width: 300px;
  height: 300px;
  margin: 50px;
  border-radius: 50%;
  background: no-repeat center/90% url("../images/ios_clock.svg"), #fff;
  box-shadow: 0.2rem 0.2rem 0.8rem rgba(0, 0, 0, 0.25);
}

.clock::after {
  display: block;
  content: "";
  position: absolute;
  background-color: #000;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 143px 140px;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.6);
  border: 1px ridge #cacaca;
}

[class^=clock__needle--] {
  position: absolute;
  background-color: #000;
  border-radius: 30px;
}

.clock__needle--second {
  width: 2px;
  height: 150px;
  margin: 120px 151px 0 151px;
  transform-origin: 1px 35px;
  transform: rotateZ(180deg);
  animation: seconde 60s infinite steps(60);
}
@keyframes seconde {
  100% {
    transform: rotateZ(540deg);
  }
}
.clock__needle--minute {
  width: 8px;
  height: 120px;
  margin: 154px 147px 0 147px;
  z-index: 2;
  transform-origin: center top;
  transform: rotateZ(180deg);
  animation: minute 3600s infinite steps(60);
}
@keyframes minute {
  100% {
    transform: rotateZ(540deg);
  }
}
.clock__needle--minute::after {
  content: "";
  display: block;
  position: relative;
  background-color: #cacaca;
  width: 40%;
  height: 30%;
  top: 65%;
  margin-left: 30%;
  border-radius: 30px;
}
.clock__needle--hour {
  width: 8px;
  height: 70px;
  margin: 154px 147px 0 147px;
  z-index: 1;
  transform-origin: center top;
  transform: rotateZ(90deg);
  animation: hour 43200s infinite steps(60);
}
@keyframes hour {
  100% {
    transform: rotateZ(450deg);
  }
}
.clock__needle--hour::after {
  content: "";
  display: block;
  position: relative;
  background-color: #cacaca;
  width: 40%;
  height: 30%;
  top: 65%;
  margin-left: 30%;
  border-radius: 30px;
}
.clock__needle--awake {
  width: 8px;
  height: 70px;
  margin: 154px 147px 0 147px;
  background-color: orange;
  transform-origin: center top;
  transform: rotateZ(210deg);
}
.clock__needle--awake::after {
  content: "";
  display: block;
  position: relative;
  background-color: #cacaca;
  width: 40%;
  height: 30%;
  top: 65%;
  margin-left: 30%;
  border-radius: 30px;
}
.clock__needle--awake:hover {
  animation: setAwake 0.5s ease-out forwards;
}

.hammer {
  position: absolute;
  width: 10px;
  height: 30px;
  top: -30px;
  left: 49%;
  background-color: #e0e0e0;
}
.hammer::before {
  content: "";
  display: block;
  position: relative;
  left: -16px;
  width: 40px;
  height: 10px;
  border-radius: 30%;
  background-color: #e0e0e0;
  border: 1px solid #cacaca;
}

/*# sourceMappingURL=style.css.map */
